body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.clear {
    display: block;
    clear: both;
}

.clear:after {
    display: block;
    content: ".";
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.gallery_img {
    float: left;
    display: block;
    margin: 0 20px 0 0;
    text-align: justify;
}

.gallery_img img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

figure {
    display: block;
    margin: 0;
    padding: 0;
}

div.body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.header, .header a {
    color: #fd4400;
    background-color: #1F2833;
}

.footer, .footer a {
    color: #ffffff;
    background-color: #1F2833;
}

.main, .main a {
    background-color: #FFFFFF;
}

#header, #main_container {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#header {
    padding: 30px 0;
}

#header #hgroup {
    float: left;
    margin: 0 0 30px 0;
}

#hgroup h1 {
    font-weight: normal;
    text-transform: none;
    font-size: 38px;
}

#hgroup h2 {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

#header nav {
    display: block;
    padding: 20px 0;
    background-color:  #fd4400;
    clear: both;
}

#header nav ul {
    padding: 0 20px;
    margin: 0;
}

#header nav li {
    display: inline;
    margin-right: 30px;
}

#header nav li a {
    color: #ffffff;
    background-color: #23232300;
}

#header nav li a:hover {
    color: #1F2833;
    background-color: #23232300;
}

#main_container {
    padding: 30px 0;
}

#main_container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

#title {
    display: block;
    width: 60%;
    font-size: 18px;
    color: #1F2833;
    background-color: #ffffff;
    text-transform: uppercase;
}


#mainpage {
    display: block;
    width: 100%;
    line-height: 1.5em;
}

#mainpage h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1F2833;
}


#gallery figure {
    padding: 4px;
    text-align: center;
    border: 1px solid #fd4400;
}

#gallery figcaption {
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: #fd4400;
    background-color: #1F2833;
}

#footer {
    width: 100%;
    float: left;
    background-color: #1F2833;
}

#footer p {
    margin: 0;
    padding: 20px;
}