body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    outline: none;
    text-decoration: none;
}

.footer, .footer a {
    color: #ffffff;
    background-color: #1F2833;
}

#footer {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
    background-color: #1F2833;

    /* bottom: 20px; */
    /* position: fixed; */
}

#footer p {
    margin: 0;
    padding: 20px;
}