.game-box figure {
    height: 80;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid #fd4400;
}

.result h1 {
    font-size: 20px;
    color: #1F2833;
    font-family: monospace;
}

.result h1:hover {
    color: #fd4400;
}

.result h2 {
    font-size: 15px;
    color: #1F2833;
    font-family: monospace;
}

.result #score {
    padding-bottom: 10px;
    border-bottom: 2px solid #1F2833;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    width: 60%;
    padding: 20px;
    display: grid;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#title {
    width: 60%;
    padding: 20px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #1F2833;
    background-color: #ffffff;
    text-transform: uppercase;
}

#title h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #1F2833;
}

.idk {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    border: 3px solid #1F2833;
}

.pages {
    text-align: center;
}

.pages a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pages a:hover {
    background-color: #1F2833;
    color: #00fd4c;
}

.prev, .next {
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00fd4c;
    color: #1F2833;
}

.round {
    border-radius: 50%;
}