body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    outline: none;
    text-decoration: none;
}

#hgroup h1, h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.header, .header a {
    color: #fd4400;
    background-color: #1F2833;
}

#header, #main_container {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#header {
    padding: 30px 0;
}

#header #hgroup {
    float: left;
    margin: 0 0 30px 0;
}

#hgroup h1 {
    font-weight: normal;
    text-transform: none;
    font-size: 38px;
}

#hgroup h2 {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

#header nav {
    display: block;
    padding: 20px 0;
    background-color:  #fd4400;
    clear: both;
}

#header nav ul {
    padding: 0 20px;
    margin: 0;
}

#header nav li {
    display: inline;
    margin-right: 30px;
}

#header nav li a {
    color: #ffffff;
    background-color: #23232300;
}

#header nav li a:hover {
    color: #1F2833;
    background-color: #23232300;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    width: 60%;
    padding: 20px;
    display: grid;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.title {
    width: 60%;
    padding: 20px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #1F2833;
    background-color: #ffffff;
    /* text-transform: uppercase; */
}

.title h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #1F2833;
}


.pages {
    text-align: center;
}

.pages a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pages a:hover {
    background-color: #1F2833;
    color: #00fd4c;
}

.prev, .next {
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00fd4c;
    color: #1F2833;
}

.round {
    border-radius: 50%;
}

#searchInput {
    float: right;
    outline:none;
    border: none;
    font-size: 14px;
    height: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    background-color: #fd4400;
}

::placeholder {
    color: #1F2833;
}
#searchButton {
    float: right;
    outline:none;
    border: none;
    background-color: #fd4400;
}

#searchButton img {
    width: 24px;
    height: 24px;
    object-fit: fit;
}