body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.gallery_img {
    float: left;
    display: block;
    margin: 0 20px 20px 0;
    text-align: justify;
}

.gallery_img img {
    width: 225px;
    height: 340px;
    object-fit: cover;
}

figure {
    display: block;
    margin: 0;
    padding: 0;
}

div.body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.main, .main a {
    background-color: #FFFFFF;
}

#main_container {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#main_container {
    padding: 30px 0;
}

#main_container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

#mainpage {
    display: block;
    width: 100%;
    line-height: 1.5em;
    font-family: cursive;
}

#mainpage h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #1F2833;
}


#gallery figure {
    padding: 4px;
    text-align: center;
    border: 1px solid #fd4400;
}

#gallery figcaption {
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: #00fd4c;
    background-color: #1F2833;
}

#gallery a {
    color: #00fd4c;
    background-color: #23232300;
}

#gallery a:hover {
    color: #ffffff;
    background-color: #23232300;
}

.serivces-container div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid #1F2833;
}

.serivces-container h2 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.serivces-container p {
    font-size: 12px;
    color: black;
    font-family: monospace;
}

@media screen and (max-width: 1024px) {
    #main_container {
        width: 80%;
    }
    
    .serivces-container h2 {
        font-size: 28px;
    }

    .serivces-container p {
        font-size: 24px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
                                                                    /* slideshow css */
.slideshow-container {
    margin: auto;
    max-width: 100%;
    position: relative;
}

.slideshow-container img {
    width: 100%;
    height: 500px;
}

.slides {
    display: none;
}

.prev, .next {
    top: 50%;
    width: auto;
    cursor: pointer;
    position: absolute;
    
    font-size: 20px;
    margin-top: -20px;
    padding: 10px;
    
    color: #ffffff;
    background-color: #ffffff00 !important;
}

.next {
  right: 0;
}

.dots {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    
    margin: 0 2px;
    background-color: #bbb;
    transition: background-color 0.5s ease;
}

.active, .dots:hover {
  background-color: #1f039e;
}

.prev:hover, .next:hover {
    background-color: #ffffff00;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}