.player-profile {
    width: 60%;
    margin: 0 auto;
}

.player-cell {
    text-align: center;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #FF851B;
    background-color: #1F2833;
}

.player-cell a {
    color: #FF851B;
    text-decoration: none;
}

.player-cell a:hover {
    color: #ffffff;
}

.player-box figure {
    padding: 4px;
    border: 4px solid #fd4400;
}

.player-cell figure {
    margin: 10px;
    border: 2px solid #FF851B;
    background-color: #1F2833;
}

.player-box img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    background-color: #FF851B;
}

.player-cell img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.player-info {
    margin-left: 60px;
}

.player-per-game {
    display: flex;
}

.per-game {
    width: 25%;
}

.player-per-game-h {
    text-align: center;
}

.player-box h1 {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-per-game h1 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-info-figure {
    display: flex;
}

