.player-profile {
    width: 60%;
    margin: 0 auto;
}

.player-cell {
    text-align: center;
    font-size: 10px;
    font-family: cursive;
    border: 2px solid #FF851B;
    background-color: #8A2BE2;
}

.player-cell a {
    color: white;
    text-decoration: none;
}

.player-cell a:hover {
    color: #8A2BE2;
    text-decoration: none;
}

.player-box figure {
    padding: 4px;
    border: 4px solid black;
}

.player-cell figure {
    margin: 10px;
    border: 2px solid white;
    background-color: #FF851B;
}

.player-cell figure:hover {
    border: 2px solid black;
}

.player-box img {
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 250px;
    object-fit: cover;
    background-color: #FF851B;
}

.player-cell img {
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 250px;
    object-fit: cover;
}

.player-info {
    margin-left: 60px;
}

.player-per-game {
    display: flex;
    flex-direction: row;
}

.per-game {
    width: 25%;
}

.player-per-game-h {
    text-align: center;
}

.player-box h1 {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-per-game h1 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-info-figure {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .player-profile {
        width: 80%;
    }
    
    .player-per-game {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-box img {
        min-width: 100px;
        min-height: 100px;
    }
    
    .player-info {
        margin-left: 0px;
    }

    .player-info-figure {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}