#compare_teams_figure, #compare_players_figure {
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: auto;
    text-align: center;
    border: 3px solid #fd4400;
    background-color: black;  
}

.cmpr_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left_corner_team, #left_corner_player {
    width: 30%;
}

#right_corner_team, right_corner_player {
    width: 30%;
}

::placeholder {
    /* color: #1F2833; */
    color: white;
}

.search_input {
    outline:none;
    border: none;
    font-size: 24px;
    height: 48px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

#leftTeamInput {
    color: white;
    background-color: red;
}

#rightTeamInput {
    color: white;
    background-color: blue;
}

#leftPlayerInput {
    color: white;
    background-color: red;
}

#rightPlayerInput {
    color: white;
    background-color: blue;
}

.comapre_button {
    width: 30%;
    font-size: 24px;
    height: 48px;
    outline:none;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    background-color: #1F2833;
}

.compare_result {
    color:  #00fd4c;
    font-size: 24px;
}

#winner_team {
    color: #00fd4c;
    font-size: 28px;
}

.team_result, .player_result {          
    display: none;
}

.team_result img {
    width: 128px;
    height: 128px;
    margin: 10px;
    border: 3px solid white;
}

.player_result img {
    margin: 10px;
    max-width: 200px;
    max-height: 180px;
    width: auto;
    height: auto;
    background-color: #FF851B;
}

#left_team_result, #left_player_result {
    width: 45%;
    float: left;
}

#right_team_result, #right_player_result {
    width: 45%;
    float: right;
}

.compare h1, h2 {
    font-family: cursive;
}

/* all-team-cell and all-player-cell may be differ next time... */
.all-team-cell a {
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    box-shadow: 1em 1em #00fd4c;
    color: white;
    border: 2px solid  white;
    background-color:  #1F2833;
}
.all-team-cell a:hover {
    color: #1F2833;
    border: 2px solid  #1F2833;
    background-color:  white;
}

.all-player-cell a {
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    box-shadow: 1em 1em #fd4400;
    color: white;
    border: 2px solid  white;
    background-color:  #1F2833;
}

.all-player-cell a:hover {
    color: #1F2833;
    border: 2px solid  #1F2833;
    background-color:  white;
}
