#compare_teams_figure, #compare_players_figure {
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: auto;
    text-align: center;
    border: 3px solid #fd4400;
    background-color: black;  
}

#compare_teams_figure h1, #compare_players_figure h1 {
    font-size: 2vw;
}

#compare_teams_figure h2, #compare_players_figure h2 {
    font-size: 1vw;
}

.cmpr_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::placeholder {
    /* color: #1F2833; */
    color: white;
}

.search_input {
    outline:none;
    border: none;
    font-size: 1vw;
    height: 48px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

#leftTeamInput {
    color: white;
    background-color: red;
}

#rightTeamInput {
    color: white;
    background-color: blue;
}

#leftPlayerInput {
    color: white;
    background-color: red;
}

#rightPlayerInput {
    color: white;
    background-color: blue;
}

.comapre_button {
    font-size: 2vw;
    height: 48px;
    outline:none;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #00fd4c;
}

#team_results, #player_results {
    display: flex;
    flex-direction: row;
}

.compare_result {
    color:  #00fd4c;
    font-size: 2vw;
}

#winner_team {
    color: #00fd4c;
    font-size: 2vw;
}

.team_result, .player_result {          
    display: none;
}

.team_result img {
    width: 30%;
    height: auto;
    max-width: 128px;
    max-height: 128px;
    margin: 10px;
}

.player_result img {
    margin: 10px;
    max-width: 200px;
    max-height: 180px;
    width: 100%;
    height: auto;
    background-color: #FF851B;
}

#left_team_result, #left_player_result {
    width: 45%;
    float: left;
    padding: 20px;
}

#right_team_result, #right_player_result {
    width: 45%;
    float: right;
    padding: 20px;
}

.compare h1, .compare h2 {
    font-family: cursive;
}

/* all-team-cell and all-player-cell may be differ next time... */
.all-team-cell a {
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    box-shadow: 1em 1em #00fd4c;
    color: white;
    border: 2px solid  white;
    background-color:  #1F2833;
}
.all-team-cell a:hover {
    color: #1F2833;
    border: 2px solid  #1F2833;
    background-color:  white;
}

.all-player-cell a {
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    box-shadow: 1em 1em #fd4400;
    color: white;
    border: 2px solid  white;
    background-color:  #1F2833;
}

.all-player-cell a:hover {
    color: #1F2833;
    border: 2px solid  #1F2833;
    background-color:  white;
}

@media screen and (max-width: 1024px) {
    .cmpr_div {
        display: flex;
        flex-direction: column;
    }

    .search_input{
        width: 95%;
    }

    .comapre_button {
        width: 60%;
    }

    #team_results, #player_results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
