.team-box figure {
    padding: 4px;
    text-align: center;
    border: 3px solid #FF851B;
    background-color: #111111;   
}

.team-box h1 {
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00fd4c;
    border-bottom: 2px solid #FF851B;
}

.team-box h2 {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00fd4c;
}

.team-box h1:hover, .team-box h2:hover {
    color: #FF851B;
}

.team-box img {
    width: 150px;
    height: 150px;
}

#team_abbreviation {
    margin: 10px 10px;
    border-bottom: 2px solid #FF851B;
}

#team_abbreviation a {
    font-size: 20px;
    color: #00fd4c;
    text-decoration: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#team_abbreviation a:hover {
    color: #FF851B;
    text-decoration: none;
}

.team-profile {
    width: 60%;
    margin: 0 auto;
}